body {
	background-color: #f2f2f2;
	overflow: hidden;
	margin: 0;
    color: #4d4d4d;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#labels {
	float:left;
	height: 100vh;
	overflow: auto;
	text-align: left;
	padding-left: 2.5em;
}
#labels div {
	position: relative;
	width: 500px;
}
#labels div, #labels span, #labels li {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: 0.7;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.7em;

    transition: all .2s ease-in-out;
}
#labels span:hover, #labels li:hover {
	opacity: 0.9;
	cursor: pointer;
}
#labels ul {
	position: absolute;
	top: 0;
	left: 13em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-in-out;
}


/* Active class interactions */
#labels div.active ul {
	opacity: 1;
	pointer-events: all;
}
#labels.active div:not(.active) {
	opacity: 0.1;
	z-index: -10;
}
#labels ul.hyperactive li {
	opacity: 0.1;
}
#labels ul.hyperactive li.hyperactive {
	opacity: 1;
	color: #00adef;
}
#labels.active.hyperactive span {
	opacity: 1;
	color: #00adef;
}


::-webkit-scrollbar {
    display: none;
}


/* Tiles */
#tiles {
	height: 100vh;
	float: right;
}
#tiles td {
	height: calc(100vh/20 - 2px);
	width: calc(100vw/38);
	background-color: #f2f2f2;
	opacity: 0.5;
	border-radius: 2px;

  transition: all 1.25s ease-in-out;
}
#tiles td:hover {
	background-color: #FAFAFA;
	opacity: 0.8;
	transition: border-radius 3s ease-in-out, opacity .05s ease-in-out;
}
#tiles td.active {
	background-color: #00adef;
}
#tiles td.active:hover {
	border-radius: 10px;
	cursor: pointer;
}


/* Results */
#results {
	width: 33vw;
	position: absolute;
	z-index: 1;
	height: 100vh;
	margin-left: 5em;
	overflow-y: auto;
	text-align: justify;
	z-index: -10;
}
#results.active {
	z-index: 10;
}
#results h2 a {
	text-transform: uppercase;
	font-size: 22px;
	text-decoration: none;
    color: #4d4d4d;
}
#results h2 {
    text-align: center;
}
#results h3 {
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
#results p {
	font-size: 14px;
}
#results span.s {
	background-color: #00adef;
	color: #f2f2f2;
}
#results h3.hidden + p {
	display: none;
}
#results div {
	text-align: center;
	margin-bottom: 2em;
}
span.pdf {
	color: #CFCFCF;
}
span.icon {
	background-repeat: no-repeat;
	background-size: cover;
	width: 28px;
	height: 28px;
	margin: 6px;
	display: inline-block;
}
span.in {
	background-image: url(img/in.png);
}
span.out {
	background-image: url(img/out.png);
}
span.group {
	background-image: url(img/group.png);
}
span.doc {
	background-image: url(img/doc.png);
}
span.regio {
	background-image: url(img/regio.png);
}
